
<app-nav [navItems]="userNavs"></app-nav>
<link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>
<nav class ="container-audio">
  <ul>
    <h2>Hello user, choose your station</h2>
    <li><a routerLink="/userradio/rock" routerLinkActive="active">Rock</a></li>
    <li><a routerLink="/userradio/metal" routerLinkActive="active">Metal</a></li>
    <li><a routerLink="/userradio/edm" routerLinkActive="active">EDM</a></li>
    <li><a routerLink="/userradio/country" routerLinkActive="active">Country</a></li>
    <li><a routerLink="/userradio/rap" routerLinkActive="active">Rap</a></li>
  </ul>
</nav>

  <!-- <ul>
      <div class="container-audio" *ngFor = "let rockSong of rockSongs">
          <div *ngIf="displayRockStation">
        {{ rockSong.name }}
        {{ rockSong.genre }}
        <audio controls loop>
            <source src="{{ rockSong.link }}" type="audio/ogg">
              Your browser dose not Support the audio Tag
        </audio>
      </div>
    </div>
</ul>
<ul>
    <div class="container-audio" *ngFor = "let metalSong of metalSongs">
        <div *ngIf="displayMetalStation">
      {{ metalSong.name }}
      {{ metalSong.genre }}
      <audio controls loop>
          <source src="{{ metalSong.link }}" type="audio/ogg">
            Your browser dose not Support the audio Tag
      </audio>
    </div>
  </div>
</ul> -->
  <!-- <div class="container-audio">
          <audio controls loop>
                     <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9473/new_year_dubstep_minimix.ogg" type="audio/ogg">
                     Your browser dose not Support the audio Tag
          </audio>
    </div>  -->

    <div class="container-audio">
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
    </div>
