h3{font-family: Impact, Charcoal, sans-serif;
  font-size: 25px;
  letter-spacing: 6px;
  word-spacing: 6px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
}
